{% extends 'base.html' %}

{% block content %}
    <h2>Cart</h2>
    <table class="cart">
        <tr class="cart__header-row">
            <th>#</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in cart_items %}
            <tr class="cart__item-row">
                <td class="cart__counter">{{ forloop.counter }}</td>
                <td class="cart__item-name">
                    <img class="cart__item-image" src="{{ item.image }}" alt="{{ item.name }}" width="100">
                    <span>{{ item.name }}</span>
                </td>
                <td class="cart__item-quantity">
                    <span>{{ item.quantity }}</span>
                    <form action="{% url 'pizza_store_app:change_cart_quantity' %}" method="post">
                        {% csrf_token %}
                        <button class="cart__item-minus" name="action" value="minus">-</button>
                        <button class="cart__item-plus" name="action" value="plus">+</button>
                        <input type="hidden" name="product_id" value="{{ item.id }}">
                    </form>
                </td>
                <td class="cart__item-price">{{ item.price }}€</td>
            </tr>
        {% endfor %}
    </table>

    <p>SUBTOTAL: {{ cart_info.cart_total_eur }}€</p>
    <p>DELIVERY COST: {{ cart_info.delivery_price_eur }}€</p>
    <p>TOTAL: {{ cart_info.total_price_eur }}€ | {{ cart_info.cart_total_usd }}$</p>

    <h2>Order</h2>

{% endblock %}