{% extends 'base.html' %}

{% block content %}
    {% for category, product_list in products %}
        <h3>{{ category }}</h3>
        <ul class="catalog">
            {% for product in product_list %}
                <li class="catalog__item">
                    <h4 class="catalog__item-title"><a href="{% url 'pizza_store_app:product_detail' product.id %}">{{ product.name }}</a></h4>
                    <img class="catalog__item-image" src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                    <form>
                        {% csrf_token %}

                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}