{% extends 'base.html' %}

{% block content %}
    {% for category, product_list in products %}
        <h3>{{ category }}</h3>
        <ul class="catalog">
            {% for product in product_list %}
                <li class="catalog__item" id="{{ product.id }}">
                    <h4 class="catalog__item-title">{{ product.name }}</h4>
                    <p class="catalog__item-price">{{ product.price }}€</p>
                    <img class="catalog__item-image" src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                    <form class="catalog__item-form" method="post" action="{% url 'pizza_store_app:add_to_cart' %}">
                        {% csrf_token %}
                        <button class="catalog__item-minus">-</button>
                        <input class="catalog__item-quantity" name="product_quantity" type="number" min="0" max="100"
                               value="1" readonly>
                        <button class="catalog__item-plus" >+</button>
                        <button type="submit" class="catalog__item-to-cart">Add to cart</button>
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                    </form>
                    {% for item in user.customer.cartitem_set.all %}
                        {% if item.product.id == product.id %}
                            Already in the cart: {{ item.quantity }}
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}