{% extends 'base.html' %}

{% block content %}
    <h2>Order history</h2>
    {% if order_list %}
    <table class="history">
        <colgroup>
            <col class="col_counter">
            <col class="col_product">
        </colgroup>
    <tr>
        <th>#</th>
        <th>Content</th>
        <th>Total price</th>
    </tr>
        {% for order in order_list %}
            <tr>
                <td class="history__counter"><a class="history-link" href="{% url 'pizza_store_app:order_details' order.id %}">{{ order.id | stringformat:"04d" }}</a></td>
                <td>
                    <ul>
                        {% for ordered_item in order.ordereditem_set.all %}
                            <li class="history__product-name">{{ ordered_item.product.name }} - {{ ordered_item.quantity }}</li>
                        {% endfor %}
                    </ul>
                </td>
            <td class="history__price">{{ order.total_price }}€</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Your order history is empty.</p>
        <p>Let's go to <a class="text-link" href="{% url 'pizza_store_app:catalog' %}">products page</a> and order some
            pizza!</p>
    {% endif %}
{% endblock %}