{% extends 'base.html' %}

{% block content %}
    <h2>Order #{{ order.id | stringformat:"04d" }}</h2>
                        <ul>
                        {% for ordered_item in order.ordereditem_set.all %}
                            <li>{{ ordered_item.product.name }} - {{ ordered_item.quantity }}</li>
                        {% endfor %}
                    </ul>
    <p>Total price: {{ order.total_price }}</p>
    <p>Address: {{ order.address }}</p>
    <p>Contact phone: {{ order.contact_phone }}</p>
    <p>Comment: {{ order.comment }}</p>

{% endblock %}