:root {
    --orange: #e05b33;
    --darkorange: #ca4b26;
    --darkorange-opacity: rgba(202, 75, 38, 0.85);
}

body {
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    margin: 0;

    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.page-header{
    display: flex;
    padding: 10px 20px;

    background-color: var(--orange);
}

.page-header__title{
    color: white;
    font-weight: 500;
}

.page-header__title a:visited{
    color: white;
}

.catalog{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.catalog__item{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid var(--darkorange);
    border-radius: 5px;
}

.catalog__item-title{
    order: 1;

    color: black;
    font-weight: 400;
    text-align: center;
}

.catalog__item-title a{
    color: gray;
}

.catalog__item-image{

}