:root {
    --orange: #e05b33;
    --darkorange: #ca4b26;
    --darkred: #720808;
    --darkorange-opacity: rgba(202, 75, 38, 0.85);
}


html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-rows: auto 1fr auto;

    margin: 0;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

.page-header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    grid-template-columns: 5vw 1fr 5vw;

    background-color: var(--orange);
}

.page-header > * {
    grid-column: 2;
}

.page-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.page-header__title {
    margin: 0;
    padding: 0;

    font-family: 'Sriracha', cursive;
    font-size: 2.5em;
    font-weight: 400;
    white-space: nowrap;

    color: white;
    cursor: pointer;
}

.page-header__title a:visited {
    color: white;
}

.auth-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;

    color: white;
}

.auth-nav__item {
    display: flex;
    align-items: center;
}

.auth-nav__link {
    display: inline-block;
    padding: 5px 10px;

    background-color: var(--darkred);
    border-radius: 5px;
}

.auth-nav__link {
    margin-right: 10px;
}

.auth-nav__item:last-child .auth-nav__link {
    margin-right: 0;
}

.auth-nav__link:hover {
    color: lightblue;
}

.auth-nav__link:active {
    color: lightskyblue;
}

.auth-nav__username {
    display: inline-block;
    margin-right: 25px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-header__cart-info {
    padding: 5px 10px;

    color: white;

    background-color: var(--darkred);
    border-radius: 5px;

    cursor: pointer;
}

.page-header__cart-info:hover {
    color: lightblue;
}

.page-header__cart-info:active {
    color: lightskyblue;
}

.page-header__cart-dollars {
    display: inline-block;
    margin-left: 5px;
    font-size: 20px;

    color: grey;
}

.page-header__cart-link {
    display: inline-block;

}

.page-main {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    align-content: start;
}

.page-main > * {
    grid-column: 2;
}

h2{
    text-align: center;
    font-weight: 500;
}


.login {
    display: grid;
    grid-template-areas: 'title' 'form';
    justify-content: center;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login__field,
.login input {
    width: 250px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 20px;

    font-size: 22px;
    font-family: 'Rubik', sans-serif;

    border: 1px solid var(--darkorange);
    border-radius: 5px;
}

.login__button {
    align-self: center;

    padding: 10px 40px;

    color: var(--darkorange);

    font-size: 22px;
    font-family: 'Rubik', sans-serif;

    background: none;
    border: 1px solid var(--darkorange);
    border-radius: 5px;

    cursor: pointer;
}

.login__button:hover {
    color: white;
    background: var(--darkorange);
}

.helptext,
.login ul,
.login p:empty {
    display: none;
}

.login ul.errorlist{
    display: block;
}

.login p {
    width: 400px;
    display: grid;
    grid-template-columns: 155px 1fr;
}

.catalog {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.catalog__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid var(--darkorange);
    border-radius: 5px;
}

.catalog__item-title {
    order: 1;

    color: black;
    font-weight: 400;
    text-align: center;
}

.catalog__item-price {
    order: 2;
}

.catalog__item-title a {
    color: darkred;
}

.catalog__item-image {

}

.cart__item-image {
    width: 100px;
}


.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightgray;

    font-weight: 400;
}

.page-footer__link {
    text-decoration: none;
    color: darkslategrey;
}

.page-footer__link:hover {
    border-bottom: 1px dashed darkslategrey;
}